* {
  box-sizing: border-box;
}




.loader-class {
  background: #002e83;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  scale: 0.9;

}

/* CSS personalizado */
@media (max-width: 500px) {
  #logo-right {

  }
}




.content-login {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  gap: 1rem;
  width: 100%;
  /* Cambiado a porcentaje para mayor flexibilidad */
  max-width: 700px;
  /* Establecer un ancho máximo */
  height: auto;
  /* Altura ajustada automáticamente */
  background-color: #fdfdfd;
  border-radius: 8px;
  border: 0.5px solid #c2c2c2;
  box-shadow: 0px 3px 8px rgba(22, 22, 22, 0.24);
  padding: 43px;
}

/* .container-login .content-login{
  margin: auto;
} */

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header-login .title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #00318D;
  padding: 0px 12px;
}

.Logo-img-login {
  padding: 0px 24px;
}

.Logo-img-login img {
  height: 52px;
  width: auto;
}

.inputs {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
}

.inputs .input {
  text-align: start;
  margin: 12px 0px;
  display: flex;
  flex-direction: column;
}

.inputs .input label {
  margin-bottom: 8px;
  color: #00318D;
  font-size: 1rem;
}

.inputs label {
  margin-bottom: 8px;
  color: #00318D;
  font-size: 1.25rem;
}

.inputs .input input {
  height: 52px;
  border: none;
  border-radius: 6px;
  outline: 1px solid rgb(218, 219, 220);
  padding: 0.5rem;
  color: rgb(100, 100, 100);
  font-size: 1rem;
}

.inputs .input input:focus {
  outline: 1.5px solid rgb(190, 190, 190);
  box-shadow: 0px 6px 6px 0 rgba(0, 0, 1, 0.1);
}

/* Agregar estilo para los inputs sin valor */
.inputs .input input:invalid {
  border-color: red;
}

/* Estilo para el mensaje de error */
.error {
  color: red;
  font-size: 0.7rem;
  margin-top: 8px;
}

.recuperar-passwork {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  text-decoration: none;
  color: #00318D;
  font-weight: 400;
}

.buttons {
  padding: 0px 24px;
  margin-top: 24px;
}

.buttons button {
  width: 100%;
  height: 52px;
  color: #fdfdfd;
  background-color: #00318D;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button:hover {
  background-color: #002e83;
  box-shadow: 0 6px 6px 0 rgba(0, 50, 144, 0.2);
}

@media screen and (max-width: 500px) {
  .header-login .title {
    font-size: 1.25rem;
  }

  .inputs .input label {
    font-size: 1.25rem;
  }

  .inputs .input input {
    font-size: 1.25rem;
  }

  .error {
    font-size: 1rem;
  }

  .recuperar-passwork {
    font-size: 1.25rem;
  }

  .buttons button {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1366px) {


  .header-login .title {
    font-size: 2rem;
    /* Ajustado para 1366 x 768 px */
  }

  .Logo-img-login {
    padding: 0px 10px;
    /* Ajustado para 1366 x 768 px */
  }

  .Logo-img-login img {
    height: 52px;
    /* Ajustado para 1366 x 768 px */
    width: auto;
  }

  .inputs {
    padding: 10px;
    /* Ajustado para 1366 x 768 px */
  }

  .inputs .input {
    margin: 10px 0px;
    /* Ajustado para 1366 x 768 px */
  }

  .inputs .input label {
    margin-bottom: 6px;
    /* Ajustado para 1366 x 768 px */
    font-size: 1.5rem;
  }

  .inputs .input input {
    height: 64px;
    /* Ajustado para 1366 x 768 px */
    font-size: 1.5rem;
  }

  .error {
    font-size: 0.7rem;
    /* Ajustado para 1366 x 768 px */

    .recuperar-passwork {
      font-size: 0.8rem;
    }

    .buttons button {
      font-size: 1.2rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .container-login {
      max-width: 768px;
      /* Ajusta según tus necesidades */
    }
  }

  @media screen and (min-width: 1920px) {
    .header-login .title {
      font-size: 4.5rem;
    }

    .inputs .input label {
      font-size: 1.75rem;
    }

    .inputs .input input {
      font-size: 1.75rem;
    }

    .error {
      font-size: 1.5rem;
    }

    .recuperar-passwork {
      font-size: 1rem;
    }

    .buttons button {
      font-size: 1.75rem;
    }
  }

  /* Estilos para smartphones grandes */
  @media screen and (max-width: 720px) {
    .container-login {
      width: 90%;
    }

    .header-login .title {
      font-size: 2rem;
    }

    .inputs .input label {
      font-size: 0.9rem;
    }

    .inputs .input input {
      font-size: 0.9rem;
    }

    .error {
      font-size: 0.7rem;
    }

    .recuperar-passwork {
      font-size: 0.4rem;
    }

    .buttons button {
      font-size: 1rem;
    }
  }
}
