<app-custom-table
  [data]="getDataHistory()!"
  [displayedColumns]="[
  'name','category',
  'brand','unit_price',
  'stock_units','description',
  'supplier_name','supplier_nit',
  'acciones']"
  [columnNames]="{
    'name': 'Nombre Producto' , 'category':'categoria',
    'brand': 'linea', 'unit_price': 'Precio Unitario',
    'stock_units': 'Unidades en Stock', 'description': 'Descripción',
    'supplier_name': 'Nombre Proveedor', 'supplier_nit': 'NIT Proveedor',
    'acciones': 'Acción Usuario'}"
  [showColumnActions]="showColumnActions"
  [camposDinamicos]="camposDinamicos"
  [isPosting]="isPosting()"
  [isLoading]="isloading()"
  [isStatusSolictud]="isStatusSolicitudHttp()"
  (pageChange)="onPageChange($event)"
  (editarEvento)="onEditar($event)"
  (eliminarEvento)="onEliminar($event)"
  (onSave)="onSave($event)"
  [title]="title"
  >
</app-custom-table>

<!--
{
  id_product: 1,
  supplier_name: 'JHON ANDERSON PERALTA OCHOA',
  supplier_nit: '10923442',
  name: 'shampoo',
  category: 'categoria',
  brand: 'cosmetico',
  unit_price: '4000.00',
  stock_units: 40,
  description: 'shampoo',
  id_supplier: 1
}, -->
