 <div class="container-header">
  <h1> {{title}}</h1>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input mat-icon-button matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="mat-elevation-z8 example-table-container">
  <div class="example-container mat-elevation-z8">
    @if (!isLoadingResults || isRateLimitReached) {
    <div class="example-loading-shade">
      @if (!isLoadingResults) {
      <mat-spinner></mat-spinner>
      }
      @if (isRateLimitReached) {
      <div class="example-rate-limit-reached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
      }
    </div>
    }
    <div class="example-container mat-elevation-z8">
      <!-- Comprobación de Carga y Límites -->
      <!-- Asegúrate de ajustar esta lógica a Angular si es necesario -->
      <table mat-table [dataSource]="dataSource" matSort>


        <!-- Columnas Dinámicas -->
        <!-- Columnas Dinámicas -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnNames[column] || column }} </th>
          <td mat-cell *matCellDef="let element">

            <!-- Campos NombreCompleto -->
            <ng-container *ngIf="column === 'fullname';else defaultColumn">
               {{element['first_name']}} {{ element['last_name'] }}
            </ng-container>
            <!--end  NombreCompleto-->

            <!-- Acciones -->
            <ng-container *ngIf="column === 'acciones' && showColumnActions; ">
              <button mat-icon-button (click)="edit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              &nbsp; <!-- Espacio entre iconos -->
              <button mat-icon-button (click)="delete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
            <!-- End Acciones -->
            <ng-template  #defaultColumn>
              {{ element[column] }}
            </ng-template>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Fila cuando no hay datos que coincidan. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">no hay datos que coincidan "{{input.value}}"</td>
        </tr>
      </table>

      <div class="mat-paginator-container mat-elevation-z2" tabindex="0">
        <div class="paginator-left">
          <mat-paginator [pageSize]="10" [length]="resultsLength" showFirstLastButtons></mat-paginator>
        </div>
        <button *ngIf="showColumnActions" type="button" id="button-right" (click)="openDialog()">Nuevo Registro</button>
      </div>
    </div>
  </div>
