<app-custom-table [data]="getDataHistory()!" [displayedColumns]="[
  'fullname',
  'document',
  'address',
  'phone','date_of_birth',
  'acciones']" [columnNames]="{
    'fullname': 'Nombre Completo',
    'document': 'Documento',
    'address': 'Dirección',
    'phone': 'Teléfono',
    'date_of_birth': 'Fecha de Nacimiento',
    'acciones': 'Acción Usuario'}" [showColumnActions]="showColumnActions" [camposDinamicos]="camposDinamicos"
  [isPosting]="isPosting()" [isLoading]="isloading()" [isStatusSolictud]="isStatusSolicitudHttp()"
  (pageChange)="onPageChange($event)" (editarEvento)="onEditar($event)" (eliminarEvento)="onEliminar($event)"
  (onSave)="onSave($event)" [title]="title">
</app-custom-table>
