<app-custom-table
  [data]="getDataHistory()!"
  [displayedColumns]="[
  'fullName','document',
  'address',
  'phone','date_of_birth',
  'email', 'acciones']"
  [columnNames]="{
    'fullName': 'Nombre Completo' ,
    'document': 'Documento',
    'address': 'Dirección',
    'phone': 'Teléfono',
    'date_of_birth': 'Fecha de Nacimiento',
    'email':'Correo',
    'acciones': 'Acción Usuario'}"
  [showColumnActions]="showColumnActions"
  [camposDinamicos]="camposDinamicos"
  [isPosting]="isPosting()"
  [isLoading]="isloading()"
  [isStatusSolictud]="isStatusSolicitudHttp()"
  (pageChange)="onPageChange($event)"
  (editarEvento)="onEditar($event)"
  (eliminarEvento)="onEliminar($event)"
  (onSave)="onSave($event)"
  [title]="title"
  >
</app-custom-table>

